@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #27633B;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el cuerpo ocupe al menos el 100% del viewport */
    background: linear-gradient(135deg, #323B60, #088617);
}

header {
    position: fixed;
    width: 100%;
    background-color: #27633B;
    z-index: 1000;
    padding: 1em 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 80px; /* Añade espacio para el header */
    padding-bottom: 80px; /* Añade espacio para el footer */
}

.logo {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
}

.logo img {
    height: 40px;
    margin-right: 0.5em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px; /* Ajusta el ancho máximo del contenido según sea necesario */
}

.login-box {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%; /* Ajusta el ancho para que ocupe el ancho disponible */
    max-width: 350px; /* Ajusta el ancho máximo del contenido según sea necesario */
}

.login-box h2 {
    margin-bottom: 20px;
    color: #323B60;
}

.input-box {
    position: relative;
    margin-bottom: 30px;
}

.input-box input {
    width: 100%;
    padding: 10px;
    border: none;
    border-bottom: 2px solid #27633B;
    outline: none;
    background: transparent;
    color: #333;
    font-size: 16px;
}

.input-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #333;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #323B60;
    font-size: 12px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: linear-gradient(135deg, #088617, #323B60);
    color: #fff;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #088617;
}

#error-message {
    color: #323B60;
    margin-top: 10px;
    display: none;
}

footer {
    background-color: #323B60;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
