@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    color: #27633B;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    width: 100%;
    background-color: #27633B;
    z-index: 1000;
    padding: 1em 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    color: #27633B;
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
    color: #ffffff;
}

.logo img {
    height: 40px;
    margin-right: 0.5em;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

main {
    margin-top: 60px;
    /* Ajusta según el tamaño del header */
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 60px);
    /* Ajusta según el tamaño del header */
}

.hero {
    text-align: center;
    padding: 2em 0;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#mapa {
    width: 100%;
    height: 100%;
}

footer {
    background-color: #323B60;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Estilos generales del modal */
.modal {
    display: none;
    /* Ocultar el modal por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo semi-transparente */
    overflow: auto;
}

/* Contenido del modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo para el botón de cerrar (X) */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo para el contenido dentro del modal */
.modal-content h2 {
    color: #27633B;
}

.modal-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}

aside {
    color: white; /* Cambia el color de las letras a blanco */
}

.play-sound-button {
    background-color: #27633B; /* Color de fondo verde */
    color: white; /* Color del texto blanco */
    border: none; /* Sin borde */
    padding: 5px 10px; /* Espaciado interno */
    font-size: 12px; /* Tamaño de la fuente */
    cursor: pointer; /* Cursor de puntero */
    display: flex; /* Usar flexbox para alinear el contenido */
    align-items: center; /* Alinear contenido verticalmente */
    position: absolute; /* Posición absoluta */
    bottom: 15px; /* Espaciado desde la parte inferior */
    left: 15px; /* Espaciado desde la parte izquierda */
}

.play-sound-button img {
    margin-right: 10px; /* Espaciado entre el icono y el texto */
}